name: python

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - rustfmt.toml
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - rustfmt.toml

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUST_LOG_STYLE: always

defaults:
  run:
    shell: bash

jobs:
  nodejs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup SSH Key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add GitHub to known hosts
        run: ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Run tess
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip install maturin pytest
          maturin develop
          pytest tests -v